/* === BASE === */
* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}
.travel__japan::before {
  content: url("https://source.unsplash.com/WLxQvbMyfas");
}
.travel__australia::before {
  content: url("https://source.unsplash.com/JmuyB_LibRo");
}
.travel__oslo::before {
  content: url("https://source.unsplash.com/3PeSjpLVtLg");
}


.travel__japan img {
  justify-content: start;
  width: 100%;
  height: auto;
}
.travel__australia img {
  justify-content: start;
  width: 100%;
  height: auto;
}
.travel__oslo img {
  justify-content: start;
  width: 100%;
  height: auto;
}
travel__journey__app {
  justify-content: end;
}

