/* === BASE === */
* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}
nav {
  display: flex;
  padding: 10px 2px;
  align-items: center;
  justify-content: center;
  box-shadow: 2px 2px 4px rgba(0, 0, 0, 0.2);
}

.airbnb__hero {
  display: flex;
  padding: 20px 2px;
  align-items: center;
  justify-content: center;
}

h1 {
  display: grid;
  align-items: center;
  justify-content: center;
}
p {
  display: grid;
  align-items: center;
  justify-content: center;
}

/* === CARD === */
.card__info {
  display: grid;
  margin: 2rem 14rem;
  grid-template-columns: 1fr 1fr 1fr; /* repeat(3, 1fr); */
  height: 100vh;
  justify-content: center;
  align-items: center;
}
